
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Pacifico&family=Nunito:wght@200;300;400;600;700&family=Open+Sans:wght@300;400;500;600&family=Roboto:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  background-color: rgba(252, 252, 252, 1);
}

body {
  font-family: 'Nunito', 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 13pt;
  min-height: 100%;
  color: #444;
}


p {
  text-align: left;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0px;
}
@media screen and (min-width: 600px) {
  p {
    text-align: justify;
  }
}

b {
  font-weight: 600;
  color: #000;
}

h1 {
  text-align: center;
  font-size: 45pt;
  font-family: 'Nunito', 'Montserrat', Arial, sans-serif;
  font-weight: 500;
  padding-top: 40px;
  padding-bottom: 5px;
}

h2 {
  font-size: 26pt;
  padding-bottom: 5px;
  font-family: 'Nunito';
  font-weight: 200;
  padding-top: 30px;
}

.subtitle {
  font-size: 15pt;
  line-height: 16pt;
  padding-bottom: 70px;
  padding-top: 0px;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

h3 {
  font-size: 15pt;
  margin-bottom: 9.5px;
  font-family: 'Nunito';
  font-weight: 200;
}

h4 {
  font-size: 11pt;
  font-family: 'Nunito', 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  color: #888;
}

a {
  color: #111;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

a:hover {
  color: #EF5181;
}

/*  For navigation */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(252, 252, 252, 1);;
  margin: 0px;
  padding: 0px;
  font-size: 11pt;
  z-index: 20;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  box-shadow: white;
  transition: 0.3s;
}

nav {
  padding: 10px 5% 10px 0px;
  text-align: right;
  width: 60%;
}

.nav-list {
  list-style: none;
}

.nav-list li {
  display: inline-block;
  padding: 3px 10px;
  vertical-align: middle;
}

.nav-link {
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease 0s;
  font-weight: 300;
  font-size: 12pt;
  top: -500px;
}

.nav-link:hover {
  color: #EF5181;
}

a.anchor {
  display: block;
  position: relative;
  top: -75px;
  visibility: hidden;
}

div.footer {
  background-color: #F3F3F3;
  margin-top: 30px;
  padding-top: 45px;
  margin-bottom: 0px;
  padding-bottom: 40px;
  color: #888;
}

.footer a {
  color: #888;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.footer a:hover {
  color: #EF5181;
}

.footer-section {
  width: 90%;
  padding-left: 40px;
  display: inline-block;
  vertical-align: top;
}

.footer p {
  text-align: left;
  padding-top: 3px;
  padding-bottom: 3px;
}


/* For main components */
div.main {
  margin: 0 auto;
  max-width: 900px;
  width: 90%;
  padding-top: 50px;
  padding-bottom: 50px;
}

hr {
  border: none;
  border-top: 1px solid #DDDDDD;
  margin-top: 35px;
  margin-bottom: 35px;
}

.img-container {
  display: block;
  margin: auto 10px auto 10px;
  text-align: center;
}

.img-schem {
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0px;
  display: inline-block;
  width: 90%;
}
@media screen and (min-width: 630px) {
  .img-schem {
    margin: auto 0px auto 0px;
    width: 50%;
  }
}
@media screen and (min-width: 750px) {
  .img-schem {
    margin: auto 0px auto 0px;
    width: 32%;
  }
}

/* Associated with plot elements --> */
/* Plot background color */
.plot-fill {
  fill: white;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: .4rem;
  background: #FFFFFF;
  color: #313639;
  border: 1px solid #313639;
  border-radius: 4px;
  pointer-events: none;
}

.labels {
  color: #444444;
  font-size: 8px;
}

.Qlabel {
  color: #CCCCCC;
  font-size: 8pt;
}

.axis {
  font-family: 'Nunito', 'Open Sans', Arial, sans-serif;
  font-size: 10pt;
  font-weight: 200;
}



div.control {
  padding: 0px 30px 5px 0px;
  display: inline-block;
  vertical-align: text-top;
  margin-bottom: 5px;
  width: 160px;
}

.control-label {
  font-family: 'Nunito', 'Open Sans', sans-serif;
  font-weight: 600;
  color: #444;
  font-size: 10pt;
}

.control-unit {
  font-family: 'Nunito', 'Open Sans', sans-serif;
  font-weight: 300;
  color: #BBB;
  font-size: 10pt;
}



/* for blue slider */
.slider {
  -webkit-appearance: none;
  width: 90%;
  height: 5pt;
  border-radius: 5px;
  background: #E3E3E3;
  outline: none;
  -webkit-transition: .2s;
  transition: all .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 11pt;
  height: 11pt;
  border-radius: 50%;
  border: 1pt solid white;
  background: #EF5181;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 11pt;
  height: 11pt;
  border-radius: 50%;
  background: #EF5181;
  cursor: pointer
}
